
/*doc styling*/

html,body {
    background-color: #FFFFFF;
    padding: 0;
    margin:0;
  }


body {
    display: flex;
    flex-direction: column;
    font-family: 'Esteban', serif;
    /* position: relative; */
    min-height: 100vh;  
}
/*body {
    background-color:  #FFFFFF;
    background-image: url('images/wavy-lines.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    /*background-position:absolute;*/
    /*width: 1538px;
    height: 1719px;
    left: -206px;
    top: 550px;		
    }*/



/*header styling*/

header {
    display: flex;
    flex: none;
    justify-content: space-between; 
    /*margin: 10px 80px;*/
    align-items: center;
    position: sticky;
    /*position: absolute;*/
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    z-index: 99;
}

/*Logo styling*/

#logo {
    float: left;
    font-family: 'Esteban', serif;
    font-size: 28px;
    margin-left: 80px;
}

#logo a {
    color: #605757;
    font-family: 'Esteban' serif;
}

/*Nav Bar*/

.navigation {
    display: flex;
    font-family:'Montserrat', sans-serif;
    justify-content: flex-end;
    list-style: none;
    margin: 80px;
}
 
.navigation a {
    color: #605757;
    display: block;
    font-style: normal;
    padding: 1em;
    text-decoration: none;
  }
  .navigation .active a{
    color: #D93826;
    border-bottom: 1px solid;
  }
  .navigation a:hover {
    color: #D93826;
  }

/*anchor styling*/

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    font-family:'Montserrat', sans-serif;
    color: #605757;
    display: block;
    position: relative;
  }
  
  /*main content*/
  main { 
    padding-top: 45px
  }

#first-fold{  
    display: flex;
    top: 40px;
    align-items: center;
    justify-content: center;
}

  .intro{
    /*position: relative;*/
    width: 50vw;
    height: auto;
    float: right;
        
  }
  .small-header {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* or 90% */
    /*display: flex;*/
    align-items: center;
    letter-spacing: 4px;
    font-feature-settings: 'kern' off;
    color: #605757;  
  }
/* Help businesses build powerful & elegant products with the help of experience design. */
  .large-text{
    width: 650px;
    height: auto;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    /* or 146% */

    /*display: flex;*/
    align-items: center;
    letter-spacing: 1px;
    font-feature-settings: 'kern' off;
    color: #040707;
  }
 
 
  /* Hi! My name is Priyanka Nair. I am a UX Designer with over 3 years of experience in the tech industry. Currently a M.S. graduate student at Pratt Institute */

.bio-text {
width: 650px;
height: auto;

font-family: 'Esteban', serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 158% */

/*display: flex;*/
align-items: center;
font-feature-settings: 'kern' off;
color: #605757;
}

.self-portrait {
    width: 100%;
    height: 100%;
    max-width: 472px;
    max-height: 600px;
    padding: 0px 0px 0px 40px;
    float: right;
  }






/*Second fold- Instagram digital illustration styling*/

#second-fold{
 /* display: flex;
  justify-content: center;*/
  background-color: #F1EDEA;
  padding-bottom: 30px;
}



.drawing-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  /*margin: 10px;*/
  /*padding-bottom: 10px;*/
  padding-left: 0;
  
  justify-content: space-between;
}
.drawing-image {
  height: 450px;
  object-fit: cover;
  width: 450px;
  padding: 10px;
}
.drawing-overlay {
  bottom: 0;
  height: 15%;
  left: 0;
  opacity: 0;
  /* position: relative; */
  right: 0;
  top: 85%;
  transition: .5s ease;
  width: 100%;
}

.color-bg{
  background-color: #04070780;
  position: absolute;
    left: 0;
    bottom: 0;
}

.drawing-overlay-text {
  text-shadow: 1px 1px #0000;
  color: white;
  font-size: 18px;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
  .drawing-hover:hover .drawing-overlay {
    opacity: 1;}

    .blurb {
      text-align: center;
      font-feature-settings: 'kern' off;
    }

    .blurb a:hover{
    color: #D93826;
  }

  .drawing-image-landscape{
    height: auto;
    object-fit: cover;
    width: 98vw;
    padding: 10px;
  }

  video {
    width: 980px;
    height: auto;
    padding: 10px;
    margin-left: 220px; 
    margin-right: 220px; 
  }

  .vid{
    background-color: black;
  }
  
  .drawing-image-landscape-small{
    height: 450px;
    object-fit: cover;
    width: auto;
    padding: 10px;
  }

 





/* Third fold*/

.my-image {
  width: 100%;
  height: 100%;
  max-width: 472px;
  max-height: 600px;
  padding: 0px 0px 0px 40px;
  float: right;
}

/*Table- work experience*/

.table-heading{
  padding-left: 80px;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}


table.darkTable {
  border-top: 0.7px solid #A4A4A4;
  border-bottom: 0.7px solid #A4A4A4;
  width: 1200px;
  height: auto;
  text-align: left;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
table.darkTable td, table.darkTable th {
  border: 0px solid #4A4A4A;
  padding: 10px;
}
table.darkTable tbody td {
  color: #000000;
}
table.darkTable tr:nth-child(even) {
  background: #EFEFF0;
}


.date-place {
width: 400px;
height: auto;
font-family: 'Esteban', serif ;
font-style: normal;
font-weight: 400;
font-size: 14px;
/*display: flex;*/
align-items: center;
font-feature-settings: 'kern' off;
color: #605757;
}

.company {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /*display: flex;*/
  align-items: center;
  font-feature-settings: 'kern' off;
  color: #605757;  
}

.work-description{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  /* or 90% */
  /*display: flex;*/
  align-items: center;
  font-feature-settings: 'kern' off;
  color: #605757; 
}

.company a:hover {
  color: #D93826;
}

/* work tab*/

.page-heading{
  display:flex;
  width: 848px;
  height: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 4px;
  font-feature-settings: 'kern' off;
  margin: 0 auto;
}

#projects{
  display: flex;
  justify-content: center;
}

.project-img{
  border: 0.7px solid #bacdd8;
  background-color: #F3F9FA;
} 

img{
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
  }

  #container {
    max-width: 300px;
  
    /* Center the container in middle on horizontal axis */
    /*margin: 0 auto;*/
    margin: 40px;
  
    /* Add empty space above the container (20% of the view height) */
    margin-top: 10vh;
    margin-bottom: 50px;
  }

  .card {
    /* Change background color */
    background-color: white;
  
    /* Add border */
    border: 1px solid #bacdd8;
  
    /* Add space between the border and the content */
    padding: 8px;
    border-radius: 12px;
    filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.1));
    height: 100%
  }

  /* Style div elements that have class equal to tag */
.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

/* Style div elements that have class equal to name */
.project-name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  
}

/* Style p element */
.project-description {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

/* Style button element */
button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;

  /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
  margin: 0 auto;
  display: block;

  /* Button is a clickable element, therefore it should have a pointer cursor */
  cursor: pointer;
}

.card-details {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}

/* Add style when button is focused or hovered */
button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}





/*Footer*/

.name {
  float: left;
  font-family: 'Esteban', serif;
  font-size: 22px;
  margin-left: 80px;
  align-items: center;
}

.email {
  float: right;
  font-family: 'Esteban', serif;
  font-size: 16px;
  margin-right: 80px;
  text-align: right;
  align-items: center;
}

.email a{
  color: black;
}

.email a:hover{
  outline: none;
  text-decoration: none;
  font-family:'Montserrat', sans-serif;
  color: #D93826;
}

/*footer styling*/

footer {
    flex: none;
    background: #EEEFEF;
    bottom: 0;
    color: #605757;
    height: 100px;
    width: 100%;
    align-items: center;
    
}
.footer box{
    display: flex;
  justify-content: center;
  align-items: center;
   
} 

